body {
    margin: 0;
    padding: 0;
}

.back {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.slider-wrapper {
    display: inline-block;
    position: relative;
    margin: 0px auto;
    margin-top: 50px;
    margin-left: 200px;
}

#ageSlider {
    width: 70%;
    height: 8px;
    bottom: 20px;
    margin-right: 70px;
}

#ageSlider .ui-slider-handle {
    border-radius: 10px;
    background: #030303;

}

#ageSlider .ui-slider-range {
    background: #ffffff;
}

#tpletters {
    position: absolute;
    top: 300px;
    left: 600px;
    font-size: 120px;
    font-weight: bold;
    opacity: 0.5;
}